<% include ../../header %>

<div data-role="page" id="page_admin_wards_view">
	<script type="text/javascript">
		$('#page_admin_wards_view').bind('pagecreate', function(){
			$("#btn_delete_ward").die('click').live('click', function(e){
				$('#pop_wards_admin_view').popup('open');
			});

			$("#btn_delete_ward_no").die('click').live('click', function(){
				$('#pop_wards_admin_view').popup('close');
			});

			$("#btn_delete_ward_yes").die('click').live('click', function(){
				$('#pop_wards_admin_view').popup('close');
				$.get("/admin/wards/delete/<%= ward._id %>", {}, function(res){
					$.mobile.changePage('/admin/wards', {transition: 'slide', reverse: true, reloadPage: true});
				});
			});

			$('#add_bed_to_ward_form').die('submit').live('submit', function(e){
				var $this = $(this);
				e.preventDefault();
				$.post($this.attr('action'), $this.serialize(), function(res){
					if (res.status != 0){
						$('#pop_beds_admin_add').text(res.message).popup('open');
					} else {
						$.mobile.changePage('/admin/wards/view/<%= ward.id %>', {transition: 'pop', reverse: true, reloadPage: true});
					}
				});
			});

			$(".btn_admin_delete_bed").die('click').live('click', function(e){
				e.preventDefault();
				$.get($(this).attr('href'), function(res){
					if (res.status)
					{
						$('#pop_beds_admin_add').text(res.message).popup('open');
					} else {
						$.mobile.changePage('/admin/wards/view/<%= ward.id %>', {transition: 'pop', reverse: true, reloadPage: true});
					}
				});
			});
		});
	</script>
	<div data-role="popup" id="pop_beds_admin_add" class="ui-content" data-transition="pop" data-theme="e" data-overlay-theme="a"></div>
	<div data-role="popup" id="pop_wards_admin_view" data-transition="pop" data-theme="c" data-overlay-theme="a">
		<div data-role="content" data-theme="d">
			<h3 class="ui-title">Are you sure you want to delete this ward?</h3>
			<p>This action cannot be undone.</p>
			<button id="btn_delete_ward_no" data-role="button" data-inline="true" data-theme="c">No</button>
			<button id="btn_delete_ward_yes" data-role="button" data-inline="true" data-theme="a">Yes</button>
		</div>
	</div>
	<div data-role="header" data-position="fixed" data-id="admin_header_panel">
		<h1>Wards</h1>
	</div>
	<div data-role="content">
		<h3><%= ward.name %></h3>
		<p><%= ward.description %></p>
		<br>
		<% if (ward.beds.length) { %>
			<h3>Beds</h3>
			<ul data-role="listview" data-inset="true" data-split-theme="c" data-split-icon="delete">
				<% ward.beds.forEach(function(bed){ %>
					<li>
						<a href="#"><%= bed.name %></a>
						<a href="/admin/beds/delete/<%= ward.id %>/<%= bed.id %>" class="btn_admin_delete_bed" data-ajax="false">Delete bed</a>
					</li>
				<% }) %>
			</ul>
		<% } %>

		<br><br>
		<form id="add_bed_to_ward_form" action="/admin/beds/add" method="post" data-ajax="false">
			<div class="ui-grid-a">
				<div class="ui-block-a" style="width:70%">
					<input type="text" name="bed_add_name" value="" data-mini="true" placeholder="Bed Name" />
				</div>
				<div class="ui-block-b" style="width:30%;">
					<input type="submit" value="Add" data-theme="b" data-mini="true">
				</div>
			</div>
			<input type="hidden" name="bed_add_ward_id" value="<%= ward.id %>">
		</form>
		<br><br>
		<a data-role="button" data-theme="a" id="btn_delete_ward">Delete Ward</a>
	</div>
	<div data-role="footer" data-position="fixed" data-id="admin_footer_panel">
		<div data-role="navbar">
			<ul>
				<li><a href="/admin" data-transition="slide" data-direction="reverse">Index</a></li>
				<li><a href="/admin/users" data-transition="slide" data-direction="reverse">Users</a></li>
				<li><a href="/admin/wards"class="ui-btn-active ui-state-persist" data-transition="slide" data-direction="reverse">Wards</a></li>
			</ul>
		</div>
	</div>
</div>

<% include ../../footer %>
