<% include ../header %>

<div data-role="page" id="page_wards_index">
	<div data-role="header" data-position="fixed" data-id="user_header_panel">
		<h1>Wards</h1>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<% for (var w in wards) { %>
				<li>
					<a href="/wards/view/<%= wards[w].id %>" data-transition="slide">
						<h3><%= wards[w].name %></h3>
						<p><strong><%= wards[w].description %></strong></p>
						<p>
							<span style="color:#ff9900; font-weight:bold;"><%= wards[w].beds.length %></span> <%= wards[w].beds.length == 1 ? 'bed' : 'beds' %> /
							<span style="color:#00a7d1; font-weight:bold;"><%= wards[w].patients.length %></span> <%= wards[w].patients.length == 1 ? 'patient' : 'patients' %> /
							<span style="color:#3da600; font-weight:bold;">
								<%= ward_tasks[wards[w].id] %>
							</span>
							<%= ward_tasks[wards[w].id] == 1 ? 'task' : 'tasks' %>
						</p>
					</a>
				</li>
			<% } %>
		</ul>
	</div>
	<div data-role="footer" data-position="fixed" data-id="user_footer_panel">
		<div data-role="navbar" data-iconpos="top">
			<ul>
				<li><a href="/" data-transition="pop" data-icon="grid" class="ui-btn-active ui-state-persist">Wards</a></li>
				<li><a href="/tasks/my" data-transition="pop" data-icon="check">Tasks</a></li>
				<li><a href="/patients/my" data-transition="pop" data-icon="star">Patients</a></li>
				<li><a href="/users" data-transition="pop" data-icon="search">Users</a></li>
			</ul>
		</div>
	</div>
</div>

<% include ../footer %>
