<% include ../header %>

<div data-role="page" id="page_tasks_view">
	<div data-role="header" data-position="fixed" data-id="user_header_panel">
		<a href="" data-rel="back" data-icon="arrow-l" data-role="button" data-theme="b" data-transition="slide" data-direction="reverse">
			Back
		</a>
		<h1>View Task</h1>
	</div>
	<div data-role="content">
		<script type="text/javascript">
			$('#page_tasks_view').bind('pagecreate', function(){
				$("#add_task_comment_form").die('submit').live('submit', function(e){
					var $this = $(this);
					e.preventDefault();
					$.post($this.attr('action'), $this.serialize(), function(res){
						if (res.status != 0) {
							alert(res.message);
						} else {
							$.mobile.changePage('/tasks/view/<%= task.id %>', {transition: 'pop', reloadPage: true, changeHash: false});
						}
					});
				});

				$('#task_view_priority').die('change').live('change', function(event, ui) {
					$.post('/tasks/edit/<%= task.id %>/priority', {priority: $(this).val()}, function(res){
						if (res.status != 0) {
							alert(res.message);
						} else {
							$.mobile.changePage('/tasks/view/<%= task.id %>', {transition: 'pop', reloadPage: true, changeHash: false});
						}
					});
				});

				$('#task_view_status').die('change').live('change', function(event, ui) {
					$.post('/tasks/edit/<%= task.id %>/status', {status: $(this).val()}, function(res){
						if (res.status != 0) {
							alert(res.message);
						} else {
							$.mobile.changePage('/tasks/view/<%= task.id %>', {transition: 'pop', reloadPage: true, changeHash: false});
						}
					});
				});

				$('#task_view_assigned_to').die('change').live('change', function(event, ui) {
					$.post('/tasks/edit/<%= task.id %>/assign', {user_id: $(this).val()}, function(res){
						if (res.status != 0) {
							alert(res.message);
						} else {
							$.mobile.changePage('/tasks/view/<%= task.id %>', {transition: 'pop', reloadPage: true, changeHash: false});
						}
					});
				});
			});
		</script>
		<div data-role="popup" id="pop_tasks_view" class="ui-content" data-transition="pop" data-theme="e" data-overlay-theme="a"></div>
		<h2><%= patient.full_name %></h2>
		<h4>
			<%= patient.age %>
			<% if (patient.gender == 'male') { %>
				<span style="color:#0a8afa;">M</span>
			<% } else { %>
				<span style="color:#e60e0e;">F</span>
			<% } %>
			<% if (ward) { %>
				- <%= ward.name %>
				<% if (patient.bed) { %>
					/ <%= patient.bed %>
				<% } %>
			<% } %>
		</h4>
		<br>
		<div style="background-color:white; padding:15px; font-size: 0.80em;" class="ui-corner-all ui-shadow">
			<strong><%= task.name %></strong>
			<br>
			<p><%= task.description %></p>
		</div>
		<br>
		<div style="background-color:white; padding:15px; font-size: 0.80em;" class="ui-corner-all ui-shadow">
			<div>
				<strong>Created By:</strong>
				<br>
				<%= task.created_by %>, <span style="color:gray;"><%= task.created.toLocaleDateString() %></span>
			</div>
			<br>
			<div>
				<strong>Due Date:</strong>
				<br>
				<%= task.time.toLocaleDateString() %>
			</div>
			<br>
			<div class="ui-grid-a" style="margin-bottom:7px;">
				<div class="ui-block-a" style="width: 33%; font-weight:bold;padding-top: 10px;">
					Priority:
				</div>
				<div class="ui-block-b" style="width:67%;">
					<select id="task_view_priority" data-native-menu="false" data-mini="true" data-inline="true">
						<option value="1" <% if (task.priority == 1) { %> selected="selected" <% } %>>Low</option>
						<option value="2" <% if (task.priority == 2) { %> selected="selected" <% } %>>Medium</option>
						<option value="3" <% if (task.priority == 3) { %> selected="selected" <% } %>>High</option>
					</select>
				</div>
			</div>
			<br>
			<div class="ui-grid-a" style="margin-bottom:7px;">
				<div class="ui-block-a" style="width: 33%; font-weight:bold;padding-top: 10px;">
					Status:
				</div>
				<div class="ui-block-b" style="width:67%;">
					<select id="task_view_status" data-native-menu="false" data-mini="true" data-inline="true">
						<option value="1" <% if (task.status == 1) { %> selected="selected" <% } %>>New</option>
						<option value="2" <% if (task.status == 2) { %> selected="selected" <% } %>>Work In Progress</option>
						<option value="3" <% if (task.status == 3) { %> selected="selected" <% } %>>Completed</option>
					</select>
				</div>
			</div>
			<br>
			<% if (user) { %>
				<div class="ui-grid-a">
					<div class="ui-block-a" style="width: 33%; font-weight:bold;padding-top: 10px;">
						Assigned To:
					</div>
					<div class="ui-block-b" style="width:67%;">
						<select id="task_view_assigned_to" data-native-menu="false" data-mini="true" data-inline="true">
							<% users.forEach(function(u) { %>
								<option
									value="<%= u.id %>"
									<% if (user.id == u.id) { %>
										selected="selected"
									<% } %>
								>
									<%= u.name_with_type%>
								</option>
							<% });%>
						</select>
					</div>
				</div>
			<% } %>
		</div>
		<br>
		<div class="ui-li ui-li-divider ui-bar-c ui-corner-top ui-shadow">Comments</div>
		<div style="background-color:white; padding:15px; font-size: 0.80em;" class="ui-corner-bottom ui-shadow">
		<% task.comments.forEach(function(comment, index){ %>
			<div>
				<div style="font-size:1.1em;">
					<% if (comment.user) { %>
						<strong style="margin-right: 30px;"><%= comment.user %></strong>
					<% } %>
					<span style="color:gray;width:100%;white-space:pre;"><%= comment.created.toLocaleTimeString() %> <%= comment.created.toLocaleDateString() %></span>
				</div>
				<%= comment.message %>
			</div>
			<% if (index + 1 < task.comments.length) { %>
				<br><br>
			<% } %>
		<% }); %>
		</div>
		<br>
		<form id="add_task_comment_form" action="/tasks/comment/<%= task.id %>" method="post" data-ajax="false">
			<textarea name="task_view_comment" placeholder="Add Comment ..."></textarea>
			<input type="submit" data-icon="plus" data-theme="b" value="Add">
			<div class="ui-grid-a">
				<div class="ui-block-a" style="width:70%;">

				</div>
				<div class="ui-block-b" style="width:30%;">

				</div>
			</div>
		</form>
	</div>
	<div data-role="footer" data-position="fixed" data-id="user_footer_panel">
		<div data-role="navbar" data-iconpos="top">
			<ul>
				<li><a href="/" data-transition="pop" data-icon="grid">Wards</a></li>
				<li><a href="/tasks/my" data-transition="pop" data-icon="check" class="ui-btn-active ui-state-persist">Tasks</a></li>
				<li><a href="/patients/my" data-transition="pop" data-icon="star">Patients</a></li>
				<li><a href="/users" data-transition="pop" data-icon="search">Users</a></li>
			</ul>
		</div>
	</div>
</div>

<% include ../footer %>
