<% include ../header %>

<div data-role="page" id="page_tasks_add">
	<div data-role="header" data-position="fixed" data-id="user_header_panel">
		<a href="" data-rel="back" data-icon="arrow-l" data-role="button" data-theme="b" data-transition="slide" data-direction="reverse">
			Back
		</a>
		<h1>Add New Task</h1>
	</div>
	<div data-role="content">
		<script type="text/javascript">
			$('#page_tasks_add').bind('pagecreate', function(){
				$("#add_task_form").die('submit').live('submit', function(e){
					var $this = $(this);
					e.preventDefault();
					$.post($this.attr('action'), $this.serialize(), function(res){
						if (res.status != 0) {
							$('#pop_tasks_add').html(res.message).popup('open');
						} else {
							$.mobile.changePage('/patients/view/<%= patient %>', {transition: 'slide', reverse: true, reloadPage: true});
						}
					});
				});
			});
		</script>
		<div data-role="popup" id="pop_tasks_add" class="ui-content" data-transition="pop" data-theme="e" data-overlay-theme="a"></div>
		<form id="add_task_form" action="/tasks/add" method="post" data-ajax="false">
			<div data-role="fieldcontain">
				<label for="task_add_name">Task Name:</label>
				<input type="text" name="task_add_name" id="task_add_name">
			</div>
			<div data-role="fieldcontain">
				<label for="task_add_description">Description:</label>
				<textarea name="task_add_description" id="task_add_description"></textarea>
			</div>
			<div data-role="fieldcontain">
				<label for="task_add_date">Date:</label>
				<input type="date" name="task_add_date" id="task_add_date">
			</div>
			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
					<legend>Time:</legend>
					<select name="task_add_time_hour" id="task_add_time_hour">
						<% for(var i = 0; i < 24; i++) { %>
							<option value="<%= i %>"><%= i.toString().length == 1 ? '0' + i : i %></option>
						<% } %>
					</select>
					<select name="task_add_time_minute" id="task_add_time_minute">
						<% for(var i = 0; i < 60; i += 5) { %>
							<option value="<%= i %>"><%= i.toString().length == 1 ? '0' + i : i %></option>
						<% } %>
					</select>
				</fieldset>
			</div>
			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
					<legend>Priority:</legend>
					<input type="radio" name="task_add_priority" id="task_add_priority_1" value="1" checked="checked">
					<label for="task_add_priority_1">Low</label>

					<input type="radio" name="task_add_priority" id="task_add_priority_2" value="2">
					<label for="task_add_priority_2">Medium</label>

					<input type="radio" name="task_add_priority" id="task_add_priority_3" value="3">
					<label for="task_add_priority_3">High</label>
				</fieldset>
			</div>
			<div data-role="fieldcontain">
				<label for="task_add_assign_to" class="select">Assign To:</label>
				<select name="task_add_assign_to" id="task_add_assign_to" data-native-menu="false">
					<% users.forEach(function(user){ %>
						<option value="<%= user.id %>"><%= user.name_with_type %></option>
					<% }); %>
				</select>
			</div>
			<input type="hidden" name="task_add_patient_id" value="<%= patient %>" >
			<br>
			<br>
			<input type="submit" value="Add" data-transition="pop" data-theme="b" data-icon="plus">
		</form>
	</div>
	<div data-role="footer" data-position="fixed" data-id="user_footer_panel">
		<div data-role="navbar" data-iconpos="top">
			<ul>
				<li><a href="/" data-transition="pop" data-icon="grid">Wards</a></li>
				<li><a href="/tasks/my" data-transition="pop" data-icon="check" class="ui-btn-active ui-state-persist">Tasks</a></li>
				<li><a href="/patients/my" data-transition="pop" data-icon="star">Patients</a></li>
				<li><a href="/users" data-transition="pop" data-icon="search">Users</a></li>
			</ul>
		</div>
	</div>
</div>

<% include ../footer %>
